.badge-red{background-color:#ec1d23;}
.badge-red2{background-color:#ef474c;}
.badge-red3{background-color:#f47f82;}
.badge-orange{background-color:#f9582a;}
.badge-orange2{background-color:#fca086;}
.badge-yellow{background-color:#fcf205;}
.badge-green{background-color:#3fb43f;}
.badge-blue{background-color:#02aeec;}
.badge-violet{background-color:#8d2e8c;}
