
        <h2>How it works</h2>
        <h3>Meditation</h3>
        <p>You should meditate for at least 10 minutes every day. </p>

        <h3>Stretching</h3>
        <p>You should stretch for 10 minutes a day</p>

