

        <h2>How it works</h2>
        <h3>Nutrition</h3>
        <p>Most of us could improve our eating habits. For the challenge, pick a diet and stick to it. This could be a carb-free, dairy-free elimination diet, or it could be as simple as any foods except potato chips and brownies. Each day you have 5 points to spend of forbidden foods. The goal is to be mindful of what you eat and make thoughful tradeoffs in your eating habits. Please check with your health care provider before starting any diet.
        </p>
        <h3>Working Out</h3>
        <p>You should work out for at least 10 minutes every day. </p>

        <h3>Stretching</h3>
        <p>You should stretch for 10 minutes a day</p>

        <h3>Supplement</h3>
        <p>You should take a supplement once a day. This could be a probiotic, a spoonful of Apple Cider Vinegar, or a multi-vitatmin. Please consult your health care provider before starting any supplements.</p>

